<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Trip Buddy - All Trips</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='login.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>

        <div id="topnav" class="topnav animated headroom headroom--pinned fadeInDown">
            <h1 class="inlineblock paddingleft">Hello {{session['firstname']}}!</h1>
            <form class="inlineblock paddingleft" action="/log_out">
                <input class="btn btn-primary" type="submit" value="Log out">
            </form>
            <form class="inlineblock" action="/trips/new">
                <input class="btn btn-primary" type="submit" value="Post a New Trip">
            </form>
        </div>


        <div class="panel panel-heading">
            <h3>Your Trips:</h3>
            {% for t in trips %}
                {% if t["created_by"] == session['uid'] %}
                    <div class="panel panel-body"
                        <p>Destination: {{t["destination"]}}</p>
                        <p>Start Date: {{t["start_date"]}}</p>
                        <p>End Date: {{t["end_date"]}}</p>
                        <p>Plan: {{t["plan"]}}</p>
                        <a href="/trips/view/{{t['id']}}">View Trip</a>
                        {% if t["created_by"] == session['uid'] %}
                        | <a href="/delete_trip/{{t['id']}}">Delete trip</a> |
                        <a href="/trips/edit/{{t['id']}}">Edit Trip</a>
                        {% endif %}
                        {% if t["created_by"] != session['uid'] %}
                        | <a href="/delete_trip/{{t['id']}}">Cancel</a>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}

        </div>

        <div class="panel panel-heading">
            <h3>All Trips:</h3>
            {% for t in trips %}
                {% if t["created_by"] != session['uid'] %}
                    <div class="panel panel-body"
                        <p>Destination: {{t["destination"]}}</p>
                        <p>Start Date: {{t["start_date"]}}</p>
                        <p>End Date: {{t["end_date"]}}</p>
                        <p>Plan: {{t["plan"]}}</p>
                        <p>Posted By: <a href="/user/{{t['posted_by']}}">{{t["first_name"]}} {{t["last_name"]}}</a></p>
                        <a href="/join_trip/{{t['id']}}">Join Trip</a> |
                        <a href="/trips/view/{{t['id']}}">View Trip</a>
                    </div>
                    {% endif %}
                {% endfor %}

        </div>

    </body>
</html>
